In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import lxml
import json

In [2]:
link= "https://www.makaan.com/kolkata-residential-property/buy-property-in-kolkata-city"
html_page= requests.get(link).text
page_soup= BeautifulSoup(html_page, 'lxml')

In [3]:
listing= page_soup.find('li', class_="cardholder" )

In [4]:
len(listing)

1

In [5]:
print(listing.div)

<div class="cardWrapper " data-listing-id="17821751" data-listing-projectid="1722070" data-module="listing" data-track-scroll="1"><script type="text/x-config">{"selector":"listing_17821751","sellerType":"BUILDER","builderId":105888,"builderName":"Jai Vinayak Group","companyType":"BUILDER","companyId":100084579,"companyUserId":100908764,"companyImage":"https://static.makaan.com/11/100084579/289/103370735.jpeg?width=130&amp;height=100","backgroundColor":"#e9eddd","textColor":"#fff","nameText":"J","companyName":"Jai Vinayak Group","companyRating":0,"verificationDate":1645986600000,"serverTime":1646229596469,"listingUrl":"https://www.makaan.com/kolkata/jai-vinayak-group-vinayak-golden-acres-in-konnagar-17821751/2bhk-736-sqft-apartment","imageUrl":"https://static.makaan.com/1/1722070/291/golden-acres-others-122615710.jpeg?width=460&amp;height=260","id":17821751,"propertyId":9456470,"projectId":1722070,"projectName":"Vinayak Golden Acres","projectStatus":"Under Construction","mainImageId":"","imageCount":38,"latitude":22.70612144,"longitude":88.34746552,"localityName":"Konnagar","suburbName":"Kolkata West","cityName":"Kolkata","fullName":"Jai Vinayak Vinayak Golden Acres","localityUrl":"https://www.makaan.com/kolkata/konnagar-real-estate-52111","rank":1,"price":1968800,"unitTypeId":1,"propertyType":"Apartment","bedrooms":2,"isPlot":false,"isApartment":true,"localityId":52111,"suburbId":10039,"cityId":16,"listingScore":4,"listingCategory":"Primary","isCommercial":"","size":"736 sq ft","isRk":false,"isPentHouse":false,"isStudio":false,"defaultImageId":"","sellerCallRatingCount":0,"sellerCompanyFeedbackCount":0,"isAccountLocked":false,"isPaidSeller":false,"sellerTransactionStatus":{"isExpertDealMaker":false,"isDealMaker":false,"typeLabel":""},"isOriginalSearchResult":true,"isMakaanSelectSeller":false,"mainImageWidth":1552,"mainImageHeight":900,"leadType":"paid","reraInfo":"reraRegistered","isMPMatchTagListing":"false","listingDomain":"housing"}</script><div class="cardLayout clearfix" data-type="listing-card" itemid="https://www.makaan.com/kolkata/jai-vinayak-group-vinayak-golden-acres-in-konnagar-17821751/2bhk-736-sqft-apartment" itemref="itemNameFor-17821751" itemscope="" itemtype="http://schema.org/Apartment"><meta content="https://www.makaan.com/kolkata/jai-vinayak-group-vinayak-golden-acres-in-konnagar-17821751/2bhk-736-sqft-apartment" itemprop="url"/><div itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates"><meta content="22.70612144" itemprop="latitude"/><meta content="88.34746552" itemprop="longitude"/></div><meta content="2" itemprop="numberOfRooms"/><meta content="Itâs a 2 bhk multistorey apartment situated in Jai Vinayak Group Vinayak Golden Acres, Konnagar. It has an area of 736 sqft . The property is available at a price of Rs. 19.69 lac . It is an unfurnish..." data-p9ignore="true" itemprop="description"/><div class="imgWrap dummy-placeholder"><div class="img-slide gallerywrap "><div class="gallerywrap" data-lazymodule="carousel" data-loadon="afterLoad" data-type="image-div" id="carousel-17821751"><script type="text/x-config">{"id":17821751,"dataAwaited": true,"isMobile": false}</script><span class="img-ldr"><i class="icon-reset"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i></span><div class="btn-prev js-showOnHover hide" data-type="back-btn"> <i class="icon-chevron-left"></i></div><div class="btn-next js-showOnHover hide" data-type="next-btn"> <i class="icon-chevron-right"></i></div><div class="gallimgcntnr clearfix" data-container="image-gallery"><div class="img-slide" data-index="0"><figure><meta content="https://static.makaan.com/1/1722070/291/golden-acres-others-122615710.jpeg?width=460&amp;height=260" id="itemImageFor-17821751" itemprop="image"/><img alt=" golden-acres Others" data-src="https://static.makaan.com/1/1722070/291/golden-acres-others-122615710.jpeg?width=460&amp;height=260" height="260" src="//static.makaan.com/images/dummyPX.e679fbd4.png" title="Others"/></figure></div></div><div class="dot-container "><div class="dots" style="width: 65px"><span class="dot active"></span><span class="dot "></span><span class="dot "></span><span class="dot "></span><span class="dot "></span><span class="dot "></span></div></div></div></div><div class="badge-wrap"><div class="newBadge hide" data-js-seen="17821751">new</div></div><div class="seller-row" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/BuyAction"><div class="seller-wrap clearfix" data-type="seller-listings" itemprop="agent" itemscope="" itemtype="http://schema.org/Person"><div class="slr-img"><meta content="https://static.makaan.com/11/100084579/289/103370735.jpeg?width=130&amp;height=100" itemprop="image"/><div class="seller-img-box dummy-agent-bground" data-background-image="https://static.makaan.com/11/100084579/289/103370735.jpeg?width=130&amp;height=100" style="background-color: #e9eddd"><span class="highlighter-badge"></span></div></div><div class="seller-info"><a class="seller-name " data-builderview="false" data-isclickable="true" data-link-name="Jai Vinayak Group (BUILDER)" data-link-type="serp BUILDER" data-sellerview="false" data-type="seller-profile" href="https://www.makaan.com/jai-vinayak-group-profile-100084579" target="_blank" title="Jai Vinayak Group"><span itemprop="name">Jai Vinayak Group</span></a><div class="second-line"><span class="seller-type"><span>BUILDER</span></span></div><div class="review-rating-wrap"><div class="rating" data-lazymodule="sellerRating" data-sellerrating="0">0</div></div></div></div></div></div><div class="infoWrap" itemprop="event" itemref="itemImageFor-17821751" itemscope="" itemtype="http://schema.org/Event"><div class="title-line-wrap"><div class="title-line "><a class="typelink" data-type="listing-link" href="https://www.makaan.com/kolkata/jai-vinayak-group-vinayak-golden-acres-in-konnagar-17821751/2bhk-736-sqft-apartment" itemprop="url" target="_blank"><meta content="2 BHK Apartment for sale" id="itemNameFor-17821751" itemprop="name"/><strong><span class="val">2 </span><span>BHK </span><span>Apartment</span></strong></a><span class="project-wrap"> in <strong><a class="projName" data-link-name="Jai Vinayak Vinayak Golden Acres" data-link-type="project overview" data-track-label="17821751_1_1722070_select" data-type="projName" href="https://www.makaan.com/kolkata/jai-vinayak-group-vinayak-golden-acres-in-konnagar-1722070" target="_blank" title="Go to Jai Vinayak Vinayak Golden Acres"><span>Jai Vinayak Vinayak Golden Acres</span></a></strong></span><div class="rera-tag-new" title="Rera Approved Project"><img alt="Rera Approved Project" src="//static.makaan.com/images/un-versioned/rera-tag.svg"/></div></div><div style="width:100%"><div class="locWrap" itemprop="location" itemscope="" itemtype="http://schema.org/Place" style="width:60%;float:left"><span><span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" title="Buy property in Konnagar Kolkata"><span class="locName"><a class="loclink" data-link-name="Konnagar Kolkata" data-link-type="locality buy serp" data-type="localityName" href="https://www.makaan.com/kolkata-property/konnagar-flats-for-sale-52111" itemprop="url" target="_blank"><span itemprop="addressLocality"><strong>Konnagar</strong></span>, <span class="cityName" itemprop="addressRegion">Kolkata</span></a></span></span></span></div></div></div><table class="listing-highlights"><thead><tr><td colspan="2">Specifications</td></tr></thead><tbody><tr class="chevron-wrap" title="see this property details"><td colspan="2"><i class="icon-link"></i></td></tr><tr class="hcol"><td class="price"><div data-type="price-link"><sup class="rupee currency"> </sup><span class="val" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer"><meta content="https://www.makaan.com/kolkata/jai-vinayak-group-vinayak-golden-acres-in-konnagar-17821751/2bhk-736-sqft-apartment" itemprop="url"/><meta content="1968800 " itemprop="price"/><meta content="INR" itemprop="priceCurrency"/>19.68</span><span class="unit"> L</span></div></td><td class="lbl rate">2,675 / sq ft</td></tr><tr class="hcol"><td class="size"><span class="val">736 </span></td><td class="lbl">Area in sq ft</td></tr><tr class="hcol w44"><td class="val">Under Construction</td><td class="lbl">Construction Status</td></tr></tbody></table><meta content="2022-02-27T19:27:20.000Z" itemprop="startDate"/><ul class="listing-details"><li class="keypoint" title="Possession by"><span><strong><span>Possession by Nov 2023</span></strong></span></li><li class="keypoint"><span>New </span></li></ul><div class="listing-description" data-p9ignore="true"><div class="txt"><h3 class="seo-hdng" title="2 BHK Property for Sale in Konnagar Kolkata"><span>2 BHK Property for Sale in Konnagar Kolkata</span>:</h3>Itâs a 2 bhk multistorey apartment situated in Jai Vinayak Group Vinayak Golden Acres, Konnagar. It has an area of 736 sqft . The property is available at a price of Rs. 19.69 lac . It is an unfurnish...<strong class="seo-hdng">Developed by <a href="https://www.makaan.com/jai-vinayak-group-105888">Jai Vinayak Group</a></strong></div><a class="linktoprop" data-type="read-more">More</a></div><div class="btn-wrap"><div class="btn-icons"><span class="favbtn serpfavd" data-id="17821751" data-lazymodule="shortlist" data-type="fav-btn" id="shortlist-17821751" title="shortlist this property"><script type="text/x-config">{"listingId":17821751,"dataAwaited": true}</script><i class="icon-makaan"></i><i class="icon-makaanfill"></i></span><span class="serpShare shareitem" data-type="social-share" data-url="https://www.makaan.com/kolkata/jai-vinayak-group-vinayak-golden-acres-in-konnagar-17821751/2bhk-736-sqft-apartment" title="share"><i class="icon-share"></i></span></div><div class="callwrap"><a class="txtbtn" data-call-now="" data-step="VIEW_PHONE_MORPHED" data-type="openLeadFormViewPhone">View Phone</a><a class="cbtn cbtn-p" data-call-now="" data-type="openLeadForm"> Connect Now</a></div></div></div></div></div>

In [6]:
print(listing.div.script)

<script type="text/x-config">{"selector":"listing_17821751","sellerType":"BUILDER","builderId":105888,"builderName":"Jai Vinayak Group","companyType":"BUILDER","companyId":100084579,"companyUserId":100908764,"companyImage":"https://static.makaan.com/11/100084579/289/103370735.jpeg?width=130&amp;height=100","backgroundColor":"#e9eddd","textColor":"#fff","nameText":"J","companyName":"Jai Vinayak Group","companyRating":0,"verificationDate":1645986600000,"serverTime":1646229596469,"listingUrl":"https://www.makaan.com/kolkata/jai-vinayak-group-vinayak-golden-acres-in-konnagar-17821751/2bhk-736-sqft-apartment","imageUrl":"https://static.makaan.com/1/1722070/291/golden-acres-others-122615710.jpeg?width=460&amp;height=260","id":17821751,"propertyId":9456470,"projectId":1722070,"projectName":"Vinayak Golden Acres","projectStatus":"Under Construction","mainImageId":"","imageCount":38,"latitude":22.70612144,"longitude":88.34746552,"localityName":"Konnagar","suburbName":"Kolkata West","cityName":"Kolkata","fullName":"Jai Vinayak Vinayak Golden Acres","localityUrl":"https://www.makaan.com/kolkata/konnagar-real-estate-52111","rank":1,"price":1968800,"unitTypeId":1,"propertyType":"Apartment","bedrooms":2,"isPlot":false,"isApartment":true,"localityId":52111,"suburbId":10039,"cityId":16,"listingScore":4,"listingCategory":"Primary","isCommercial":"","size":"736 sq ft","isRk":false,"isPentHouse":false,"isStudio":false,"defaultImageId":"","sellerCallRatingCount":0,"sellerCompanyFeedbackCount":0,"isAccountLocked":false,"isPaidSeller":false,"sellerTransactionStatus":{"isExpertDealMaker":false,"isDealMaker":false,"typeLabel":""},"isOriginalSearchResult":true,"isMakaanSelectSeller":false,"mainImageWidth":1552,"mainImageHeight":900,"leadType":"paid","reraInfo":"reraRegistered","isMPMatchTagListing":"false","listingDomain":"housing"}</script>

In [7]:
list_detail_str= listing.div.script.text
list_detail_dict= json.loads(list_detail_str)
print(type(list_detail_str),list_detail_str)
print(type(list_detail_dict),(list_detail_dict))

<class 'str'> {"selector":"listing_17821751","sellerType":"BUILDER","builderId":105888,"builderName":"Jai Vinayak Group","companyType":"BUILDER","companyId":100084579,"companyUserId":100908764,"companyImage":"https://static.makaan.com/11/100084579/289/103370735.jpeg?width=130&amp;height=100","backgroundColor":"#e9eddd","textColor":"#fff","nameText":"J","companyName":"Jai Vinayak Group","companyRating":0,"verificationDate":1645986600000,"serverTime":1646229596469,"listingUrl":"https://www.makaan.com/kolkata/jai-vinayak-group-vinayak-golden-acres-in-konnagar-17821751/2bhk-736-sqft-apartment","imageUrl":"https://static.makaan.com/1/1722070/291/golden-acres-others-122615710.jpeg?width=460&amp;height=260","id":17821751,"propertyId":9456470,"projectId":1722070,"projectName":"Vinayak Golden Acres","projectStatus":"Under Construction","mainImageId":"","imageCount":38,"latitude":22.70612144,"longitude":88.34746552,"localityName":"Konnagar","suburbName":"Kolkata West","cityName":"Kolkata","fullName":"Jai Vinayak Vinayak Golden Acres","localityUrl":"https://www.makaan.com/kolkata/konnagar-real-estate-52111","rank":1,"price":1968800,"unitTypeId":1,"propertyType":"Apartment","bedrooms":2,"isPlot":false,"isApartment":true,"localityId":52111,"suburbId":10039,"cityId":16,"listingScore":4,"listingCategory":"Primary","isCommercial":"","size":"736 sq ft","isRk":false,"isPentHouse":false,"isStudio":false,"defaultImageId":"","sellerCallRatingCount":0,"sellerCompanyFeedbackCount":0,"isAccountLocked":false,"isPaidSeller":false,"sellerTransactionStatus":{"isExpertDealMaker":false,"isDealMaker":false,"typeLabel":""},"isOriginalSearchResult":true,"isMakaanSelectSeller":false,"mainImageWidth":1552,"mainImageHeight":900,"leadType":"paid","reraInfo":"reraRegistered","isMPMatchTagListing":"false","listingDomain":"housing"}
<class 'dict'> {'selector': 'listing_17821751', 'sellerType': 'BUILDER', 'builderId': 105888, 'builderName': 'Jai Vinayak Group', 'companyType': 'BUILDER', 'companyId': 100084579, 'companyUserId': 100908764, 'companyImage': 'https://static.makaan.com/11/100084579/289/103370735.jpeg?width=130&amp;height=100', 'backgroundColor': '#e9eddd', 'textColor': '#fff', 'nameText': 'J', 'companyName': 'Jai Vinayak Group', 'companyRating': 0, 'verificationDate': 1645986600000, 'serverTime': 1646229596469, 'listingUrl': 'https://www.makaan.com/kolkata/jai-vinayak-group-vinayak-golden-acres-in-konnagar-17821751/2bhk-736-sqft-apartment', 'imageUrl': 'https://static.makaan.com/1/1722070/291/golden-acres-others-122615710.jpeg?width=460&amp;height=260', 'id': 17821751, 'propertyId': 9456470, 'projectId': 1722070, 'projectName': 'Vinayak Golden Acres', 'projectStatus': 'Under Construction', 'mainImageId': '', 'imageCount': 38, 'latitude': 22.70612144, 'longitude': 88.34746552, 'localityName': 'Konnagar', 'suburbName': 'Kolkata West', 'cityName': 'Kolkata', 'fullName': 'Jai Vinayak Vinayak Golden Acres', 'localityUrl': 'https://www.makaan.com/kolkata/konnagar-real-estate-52111', 'rank': 1, 'price': 1968800, 'unitTypeId': 1, 'propertyType': 'Apartment', 'bedrooms': 2, 'isPlot': False, 'isApartment': True, 'localityId': 52111, 'suburbId': 10039, 'cityId': 16, 'listingScore': 4, 'listingCategory': 'Primary', 'isCommercial': '', 'size': '736 sq ft', 'isRk': False, 'isPentHouse': False, 'isStudio': False, 'defaultImageId': '', 'sellerCallRatingCount': 0, 'sellerCompanyFeedbackCount': 0, 'isAccountLocked': False, 'isPaidSeller': False, 'sellerTransactionStatus': {'isExpertDealMaker': False, 'isDealMaker': False, 'typeLabel': ''}, 'isOriginalSearchResult': True, 'isMakaanSelectSeller': False, 'mainImageWidth': 1552, 'mainImageHeight': 900, 'leadType': 'paid', 'reraInfo': 'reraRegistered', 'isMPMatchTagListing': 'false', 'listingDomain': 'housing'}

In [8]:
keys = [k for k in list_detail_dict.keys()]

In [9]:
df= pd.DataFrame(columns=keys)
df

Empty DataFrame
Columns: [selector, sellerType, builderId, builderName, companyType, companyId, companyUserId, companyImage, backgroundColor, textColor, nameText, companyName, companyRating, verificationDate, serverTime, listingUrl, imageUrl, id, propertyId, projectId, projectName, projectStatus, mainImageId, imageCount, latitude, longitude, localityName, suburbName, cityName, fullName, localityUrl, rank, price, unitTypeId, propertyType, bedrooms, isPlot, isApartment, localityId, suburbId, cityId, listingScore, listingCategory, isCommercial, size, isRk, isPentHouse, isStudio, defaultImageId, sellerCallRatingCount, sellerCompanyFeedbackCount, isAccountLocked, isPaidSeller, sellerTransactionStatus, isOriginalSearchResult, isMakaanSelectSeller, mainImageWidth, mainImageHeight, leadType, reraInfo, isMPMatchTagListing, listingDomain]
Index: []

In [10]:
def get_details(property):
  property_detail_str= property.div.script.text
  property_detail_dict= json.loads(property_detail_str)

  return property_detail_dict

In [11]:
def append_properties(properties):
  global df
  for property in properties:
    property_detail= get_details(property)
    df= df.append(property_detail, ignore_index=True)
  return

In [160]:
def get_properties(page_link):
  html_page= requests.get(page_link).text
  page_soup= BeautifulSoup(html_page, 'lxml') 
  properties= page_soup.find_all('li', class_="cardholder" )
  return properties

In [161]:
for page in range(1,1250+1):
  page_link= f'https://www.makaan.com/kolkata-residential-property/buy-property-in-kolkata-city?_=1646207175799&page={page}'
  properties= get_properties(page_link)
  append_properties(properties)

In [162]:
df.to_csv('properties_raw.csv', index=False)

In [113]:
df.columns

Index(['selector', 'sellerType', 'builderId', 'builderName', 'companyType',
       'companyId', 'companyUserId', 'companyImage', 'backgroundColor',
       'textColor', 'nameText', 'companyName', 'companyRating',
       'verificationDate', 'serverTime', 'listingUrl', 'imageUrl', 'id',
       'propertyId', 'projectId', 'projectName', 'projectStatus',
       'mainImageId', 'imageCount', 'latitude', 'longitude', 'localityName',
       'suburbName', 'cityName', 'fullName', 'localityUrl', 'rank', 'price',
       'unitTypeId', 'propertyType', 'bedrooms', 'isPlot', 'isApartment',
       'localityId', 'suburbId', 'cityId', 'listingScore', 'listingCategory',
       'isCommercial', 'size', 'isRk', 'isPentHouse', 'isStudio',
       'defaultImageId', 'sellerCallRatingCount', 'sellerCompanyFeedbackCount',
       'isAccountLocked', 'isPaidSeller', 'sellerTransactionStatus',
       'isOriginalSearchResult', 'isMakaanSelectSeller', 'mainImageWidth',
       'mainImageHeight', 'leadType', 'reraInfo', 'isMPMatchTagListing',
       'listingDomain'],
      dtype='object')

In [114]:
df.head(3)

           selector sellerType  ...  isMPMatchTagListing listingDomain
0  listing_17821751    BUILDER  ...                False       housing
1  listing_17766246    BUILDER  ...                False       housing
2  listing_17600681    BUILDER  ...                False       housing

[3 rows x 62 columns]

In [97]:
attributes= ['id','sellerType','companyName', 'projectName','projectStatus','latitude','longitude','localityName',
             'suburbName','cityName', 'propertyType', 'bedrooms','listingCategory', 'size', 'leadType', 'price']

In [98]:
df= df[attributes]

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23192 entries, 0 to 24959
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               23192 non-null  int64
 1   sellerType       23192 non-null  object
 2   companyName      23192 non-null  object
 3   projectName      23192 non-null  object
 4   projectStatus    23192 non-null  object
 5   latitude         23192 non-null  float64
 6   longitude        23192 non-null  float64
 7   localityName     23192 non-null  object
 8   suburbName       23192 non-null  object
 9   cityName         23192 non-null  object
 10  propertyType     23192 non-null  object
 11  bedrooms         23192 non-null  float64
 12  listingCategory  23192 non-null  object
 13  size             23192 non-null  object
 14  leadType         23192 non-null  object
 15  price            23192 non-null  int64
dtypes: float64(3), int64(2), object(11)
memory usage: 3.0+ MB

In [100]:
df.isna().sum()

id                    0
sellerType            0
companyName          35
projectName           0
projectStatus       160
latitude              0
longitude             0
localityName          0
suburbName            0
cityName              0
propertyType          0
bedrooms           1733
listingCategory       0
size                  0
leadType              0
price                 0
dtype: int64

In [101]:
df.dropna(axis=0, inplace=True)

In [103]:
df['size']= df['size'].apply(lambda x: "".join(x.split(" ")[0].split(",")))

In [102]:
df.head()

         id sellerType        companyName  ...         size leadType    price
0  17821751    BUILDER  Jai Vinayak Group  ...    736 sq ft     paid  1968800
1  17766246    BUILDER       Merlin Group  ...    688 sq ft     paid  3645712
2  17600681    BUILDER      Bhawani Group  ...  1,040 sq ft     paid  6159920
3  17373553    BUILDER       Signum Group  ...    642 sq ft     paid  1900320
4  17760296    BUILDER      Ganguly Group  ...  1,439 sq ft     paid  8634000

[5 rows x 16 columns]

In [105]:
df.to_csv('properties_clean.csv', index=False)